*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;

  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  display: flow-root; /* prevent margin collapse */

  height: 100vh;
}

body {
  background-color: white;
}

.snowflake {
  position: absolute;
  top: -20px;
 
  opacity: 0.5;

  font-size: var(--size);
  z-index: var(--size);

  animation: linear 1 forwards fall;
  animation-duration: var(--fall-duration);
  animation-delay: var(--fall-delay);

  will-change: transform;

  pointer-events: none;
  user-select: none;
}

@keyframes fall {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(calc(var(--container-height) * 0.25)) translateX(calc(var(--container-width) * var(--sway1)));
  }
  75% {
    transform: translateY(calc(var(--container-height) * 0.75)) translateX(calc(var(--container-width) * var(--sway2)));
  }
  100% {
    transform: translateY(var(--container-height)) translateX(0);
  }
}