/* When updating this file, make sure to bump the version number in files that import this, to bust the cache. */

:root {
  --base-font-family: "iA Writer Quattro", monospace;
  --base-font-size: 13pt;

  --base-color: #333;
  --base-background-color: #f5f5f5;

  --base-secondary-color: hsl(from var(--base-color) h s calc(l + 33));

  --header-color: #6a0dad;
  --header-secondary-color: hsl(from var(--header-color) h s calc(l + 10));

  --link-color: #c34100;
  --visited-link-color: #8a2c00;

  --horizontal-list-separator: "•";
  --horizontal-list-separator-margin: 0 0.5em;
}

html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);

  color: var(--base-color);
  background: var(--base-background-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

a {
  font-size: inherit;

  color: var(--link-color);

  text-decoration-style: dotted;
  text-decoration-thickness: 1px;

  svg.icon {
    fill: var(--link-color);
  }

  &:hover {
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
  }

  &:visited {
    color: var(--visited-link-color);
  }
}

/* Nesting this under &:visited above doesn't work; not sure if it should */
a:visited svg.icon {
  fill: var(--visited-link-color);
}

body > nav {
  display: flex;

  padding: 1rem;

  text-transform: uppercase;

  .header-breadcrumb {
    flex: 1;

    --horizontal-list-separator: "▸";
  }
}

.horizontal-list {
  display: inline-flex;

  padding-inline-start: 0;

  list-style: none;

  li {
    display: inline;
  }

  li:not(:last-child)::after {
    content: var(--horizontal-list-separator);
    margin: var(--horizontal-list-separator-margin);
  }
}