@font-face {
  font-family: "iA Writer Quattro";
  src: url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Regular.woff2")
      format("woff2"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Regular.woff")
      format("woff"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Regular.eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Bold.woff2")
      format("woff2"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Bold.woff")
      format("woff"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Bold.eot");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Italic.woff2")
      format("woff2"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Italic.woff")
      format("woff"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Italic.eot");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("static/fonts/ia-writer-quattro/iAWriterQuattroS-BoldItalic.woff2")
      format("woff2"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-BoldItalic.woff")
      format("woff"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-BoldItalic.eot");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}