/* Font faces */

@font-face {
  font-family: "iA Writer Quattro";
  src: url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Regular.woff2")
      format("woff2"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Regular.woff")
      format("woff"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Regular.eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Bold.woff2")
      format("woff2"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Bold.woff")
      format("woff"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Bold.eot");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Italic.woff2")
      format("woff2"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Italic.woff")
      format("woff"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-Italic.eot");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("static/fonts/ia-writer-quattro/iAWriterQuattroS-BoldItalic.woff2")
      format("woff2"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-BoldItalic.woff")
      format("woff"),
    url("static/fonts/ia-writer-quattro/iAWriterQuattroS-BoldItalic.eot");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: 1rem;
  font-weight: normal;

  margin: 0;
}

/* Variables */

:root {
  --base-font-family: "iA Writer Quattro", monospace;
  --base-font-size: 13pt;

  --base-color: black;
  --base-background-color: white;

  --base-secondary-color: hsl(from var(--base-color) h s calc(l + 33));

  --link-color: blue;
  --visited-link-color: purple;

  --horizontal-list-separator: "•";
}

/* Global styles */

html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);

  color: var(--base-color);
  background: var(--base-background-color);
}

a {
  font-size: inherit;

  border-bottom: 1px dotted var(--link-color);

  color: var(--link-color);

  text-decoration: none;

  &:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;

    &:visited {
      border-color: var(--visited-link-color);
    }
  }

  &:visited {
    border-color: var(--visited-link-color);
    color: var(--visited-link-color);
  }
}

address {
  font-style: normal;
}

body > nav {
  padding: 1rem;

  text-transform: uppercase;

  .header-breadcrumb {
    --horizontal-list-separator: "▸";
  }
}

body > main {
  max-width: 700px;

  margin: 0 auto;

  line-height: 1.5;

  > header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5rem 0 3rem;

    text-transform: uppercase;

    h1 {
      font-size: 2rem;
      font-weight: 800;
    }
  }

  p {
    margin-bottom: 1.5rem;
  }
}

/* Specific styles */

.horizontal-list {
  display: flex;

  padding-inline-start: 0;

  list-style-type: none;

  li:not(:last-child)::after {
    content: var(--horizontal-list-separator);
    margin: 0 0.5em;
  }
}

.post-list-item {
  margin-bottom: 5rem;

  > header {
    margin: 3rem 0 1.5rem;

    text-transform: uppercase;

    h2 {
      font-size: 1.5rem;
    }
  }

  > .post-excerpt {
    color: var(--base-secondary-color);

    font-style: italic;
  }
}
