body > nav {
  padding: 1rem;

  text-transform: uppercase;

  .header-breadcrumb {
    --horizontal-list-separator: "▸";
  }
}

body > main {
  max-width: 800px;

  margin: 0 auto;
  padding: 0 1rem;

  line-height: 1.5;

  > header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5rem 0 3rem;

    text-transform: uppercase;

    h1 {
      font-size: 2rem;
      font-weight: 800;
    }
  }

  h2 {
    font-size: 1.25rem;

    margin: 1.5rem 0; 

    text-transform: uppercase;
  }

  h3 {
    font-size: 1.125rem;

    margin: 1.5rem 0; 

    text-transform: uppercase;
  }

  p {
    margin: 1.5rem 0;

    text-wrap: pretty;
  }

  pre[class *= language-] {
    margin: 1.5rem 0;
  }

  div.cp_embed_wrapper {
    margin: 1.5rem 0;
  }
}

body > footer {
  margin-top: 5rem;

  text-align: center;
  text-transform: uppercase;
}

/* Specific styles */

.home-page {
  color: var(--base-background-color);
  background-color: var(--header-color);

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

  a {
    color: inherit;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 5rem;

    header {
      grid-column: 1;

      align-self: center;

      margin: 0;
    }

    > * {
      grid-column: 2;
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr;

      header {
        grid-column: 1;

        margin-bottom: 3rem;
      }

      > * {
        grid-column: 1;
      }
  }
}

.home-page-icons {
  display: flex;
  flex-direction: column;

  align-items: stretch;

  padding-inline-start: 0;

  list-style-type: none;

  gap: 1rem;

  li {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;

      padding: 0.5em;
      gap: 0.5em;

      font-size: 1.5rem;

      text-transform: uppercase;

      .icon {
        width: 3em;
        height: 3em;

        padding: 0.20em;

        border: 0.20em solid var(--base-background-color);
        border-radius: 0.20em;

        fill: var(--base-background-color);
      }
    }

    a:visited {
      color: inherit;

      svg.icon {
        fill: inherit;
      }
    }

    a:hover,
    a:focus {
      --highlight-color: white;

      color: var(--highlight-color);

      svg.icon {
        border-color: var(--highlight-color);

        fill: var(--highlight-color);
      }
    }
  }
}

.post-metadata {
  --horizontal-list-separator: "";

  color: var(--header-secondary-color);
}

.post-list-item {
  margin-bottom: 3rem;

  > header {
    text-transform: uppercase;

    h2 {
      margin: 0.5rem 0;

      font-size: 1.5rem;
    }

    .horizontal-list li address {
      display: inline;
    }
  }

  > .post-excerpt {
    color: var(--base-secondary-color);

    font-style: italic;

    p {
      margin: 0.5rem 0;
    }
  }
}
